body {
    font-family: "Source Han Sans SC", "Noto Sans SC", "Microsoft YaHei", sans-serif;
    background-color: #F2F3F5;
    height: 100%;
    margin: 0;
    padding: 0;
}

.main{
    margin: 15px;
}

.card{
    border: none;
    border-radius: 0;
}
